{% extends "base.html" %}
{% block extrahead %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="author" content="Allan Bowe">

<!-- Open Graph / Facebook -->
<meta property="og:locale" content="en_UK" />
<meta property="og:type" content="website">
{% if page and page.meta and page.meta.og_image %}
{% set og_image = page.meta.og_image %}
{% elif page %}
{% set og_image = '/img/appin1min.jpg' %}
{% endif %}
<meta name="image" property="og:image" content="{{og_image}}">
<meta property="twitter:image" content="{{og_image}}">
<meta property='og:image:alt' content='SASjs Logo' />
<meta property='og:image:title' content='SASjs Logo' />
{% if page and page.meta and page.meta.description %}
{% set og_desc = page.meta.description %}
{% elif page %}
{% set og_desc = "Build Apps on SAS 9 and Viya with the SASjs framework - comprised of a Javascript Adapter, SAS Macro
Library, and CLI tool for automated build and deployment." %}
{% endif %}
<meta name="description" property="og:description" content="{{og_desc}}">
<meta property='name:description' content="{{og_desc}}" />
<meta property="twitter:description" content="{{og_desc}}">

{% if page and page.meta and page.meta.og_title %}
{% set og_title = page.meta.og_title %}
{% elif page %}
{% set og_title = 'The SASjs Framework' %}
{% endif %}
<meta property="og:title" content="{{og_title}}">
<meta property="og:author" content="https://www.linkedin.com/company/19117949">

{% if page and page.meta and page.meta.description %}
<meta property="og:url" content="{{page.canonical_url}}">
<meta property="twitter:url" content="{{page.canonical_url}}">
{% elif page %}
<meta property="og:url" content="https://sasjs.io">
<meta property="twitter:url" content="https://sasjs.io">
{% endif %}

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{og_title}}">
<meta property="twitter:image:alt" content="SASjs logo">
<meta property='twitter:image:title' content='SASjs Logo' />
<meta property="twitter:site" content='https://sasjs.io'>


<meta property="article:author" content="https://www.linkedin.com/company/19117949" />
<meta property="article:publisher" content="https://www.linkedin.com/company/19117949" />
{% endblock %}

{% block scripts %}
<!-- Matomo -->
<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "https://analytics.4gl.io/";
    _paq.push(['setTrackerUrl', u + 'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; g.src = u + 'matomo.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript>
  <p><img src="https://analytics.4gl.io/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p>
</noscript>
<!-- End Matomo Code -->
<noscript>
  <p><img src="https://analytics.4gl.io/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p>
</noscript>
<!-- End Matomo Code -->
<noscript>
  <!-- Matomo Image Tracker-->
  <img referrerpolicy="no-referrer-when-downgrade" src="https://analytics.4gl.io/matomo.php?idsite=1&amp;rec=1"
    style="border:0" alt="" />
  <!-- End Matomo -->
</noscript>
<!-- End Matomo Code -->


{% endblock %}
