{% extends "base.html" %}

{% block extrahead %}

<!-- Primary Meta Tags -->
<title>SASjs</title>


<!-- Open Graph / Facebook -->
<meta property="og:locale" content="en_UK" />
<meta property="og:type" content="website">
<meta property="og:url" content="https://developer.macropeople.com">
<meta name="title" property="og:title" content="The SASjs Framework">
<meta name="description" property="og:description" content="Build awesome HTML5 web applications on SAS9 and Viya">
<meta name="image" property="og:image" content='/img/runningman.jpg'>
<meta name="author" property="og:author" content="https://www.linkedin.com/company/19117949">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://sasjs.io">
<meta property="twitter:title" content="The SASjs Framework">
<meta property="twitter:description" content="Build awesome HTML5 web applications on SAS9 and Viya">

<!-- meta name="twitter:creator" content="@_sasensei_" -->

<meta property='name:description' content='Build awesome HTML5 web applications on SAS9 and Viya'/>
<meta property="article:author" content="https://www.linkedin.com/company/19117949" />
<meta property="article:publisher" content="https://www.linkedin.com/company/19117949" />

{% endblock %}